<div class="configuration-container">
  <h3>Profile configuration</h3>
  <!-- add 3 input fields-->
  <mat-form-field appearance="fill">
    <mat-label>Key ID</mat-label>
    <input matInput placeholder="Enter Key Id" [(ngModel)]="KeyId">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Secret Key</mat-label>
    <input matInput placeholder="Enter Secret Key" [(ngModel)]="SecretKey">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Session Token</mat-label>
    <input matInput placeholder="Enter Session Token" [(ngModel)]="SessionToken">
  </mat-form-field>
</div>
