.mat-mdc-row:hover {
    background-color: rgb(250, 229, 216);
    cursor: pointer;
}

td{
    max-width: 170px;
    min-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.empty-data{
    font-size: 16px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
    color: #505050;
}