.login-card {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: #b4a2f34b;
  }

  .heading-text{
    color: #7965C1;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }

  /* Snackbar styling */
  .error-snackbar {
    background-color: #f44336;
    color: white;
    font-weight: bold;
  }

  body{
    background-color: beige;
  }
