.example-icon {
    border: 0px;
    background-color: transparent;
    color: white;
  }

.header-title{
    margin-left:20px;
    font-size: 1.7rem;
    color: white;
}

mat-toolbar {
    background-color: #161d26;
    color: white;
}
