mat-list-item a{
    text-decoration: none;
    color: black;
}

mat-list-item.active .mat-mdc-list-item-title{
    color:#FF9900 !important;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}

mat-list-item:focus::before{
    background-color: transparent;
}
