mat-list-item a{
    text-decoration: none;
    color: black;
}

mat-list-item.active .mat-mdc-list-item-title{
    color:#7965C1 !important;
    font-weight: bold;
}

mat-list-item:hover{
    background-color: #e3cf952a;
}

mat-list-item:focus::before{
    background-color: transparent;
}
