mat-list-item a{
    text-decoration: none;
    color: black;
}

mat-list-item.active .mat-mdc-list-item-title{
    color:#ff6565 !important;
    font-weight: bold;
}

mat-list-item:hover{
    background-color: #ff65651f;
}

mat-list-item:focus::before{
    background-color: transparent;
}
