table {
    width: 100%;
    font-size: 18px;
}

.filter-container{
    display: flex;justify-content: space-between;align-items: center;gap: 10px;
}

.mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
  }

  .mat-mdc-row:hover .mat-mdc-cell {
    background-color: #e9e9e9;
  }

