mat-drawer-content{
    height: calc(100vh - 64px);
    padding: 0px 15px;
    background-color: #F2F3F3;
}

mat-drawer{
    padding: 10px 20px;
    border: 0;
    border-right: 1px solid lightgrey;
    border-radius: 0;
    background-color: white;
    width: fit-content;
}
